<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <queries>
        <package android:name="com.collabora.libreoffice" />
        <package android:name="com.collabora.libreoffice.snapshot" />
    </queries>

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocalDocScanner"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.LocalDocScanner"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="image/*" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/vnd.ms-word.document.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-word.template.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-excel.sheet.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-excel.sheet.binary.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-excel.template.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-powerpoint.presentation.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-powerpoint.slideshow.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-powerpoint.template.macroenabled.12" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.template" />
                <data android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation" />
                <data android:mimeType="application/vnd.oasis.opendocument.text-template" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet-template" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation-template" />
                <data android:mimeType="application/rtf" />
                <data android:mimeType="text/rtf" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="text/tab-separated-values" />
                <data android:mimeType="text/markdown" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="image/*" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
                <data android:mimeType="application/msword" />
                <data android:mimeType="application/vnd.ms-excel" />
                <data android:mimeType="application/vnd.ms-powerpoint" />
                <data android:mimeType="application/vnd.ms-word.document.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-word.template.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-excel.sheet.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-excel.sheet.binary.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-excel.template.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-powerpoint.presentation.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-powerpoint.slideshow.macroenabled.12" />
                <data android:mimeType="application/vnd.ms-powerpoint.template.macroenabled.12" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.slideshow" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.template" />
                <data android:mimeType="application/vnd.oasis.opendocument.text" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation" />
                <data android:mimeType="application/vnd.oasis.opendocument.text-template" />
                <data android:mimeType="application/vnd.oasis.opendocument.spreadsheet-template" />
                <data android:mimeType="application/vnd.oasis.opendocument.presentation-template" />
                <data android:mimeType="application/rtf" />
                <data android:mimeType="text/rtf" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="text/markdown" />
            </intent-filter>

        </activity>

        <activity android:name=".office.OfficeLicenseActivity" android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
