<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application android:label="扫描界面预览" android:theme="@android:style/Theme.Material.Light.NoActionBar"><activity android:name="com.localdoc.scanner.preview.PreviewActivity" android:exported="true"><intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter></activity></application></manifest>